@keyframes example {
    from {}
    to {transform: scale(1.1)}
  }
@keyframes example1{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}
.avar{
    border-radius: 2rem;
    width: 30rem;
    margin-top: 2rem;
    margin-left: 10rem;
    border: 0.5rem solid white;
}
@font-face {
    font-family: Quattro;
    src: url('./SVN-Quattrocento Bold.otf');
}
@font-face {
    font-family: Austronut;
    src: url('./SVN-Astronout.otf');
}
.welcome{
    font-family: Quattro;
    font-size: 2rem;
    margin-top: 4rem;
    margin-left:2rem ;
}
.name{
    font-family: Austronut;
    font-size:7rem;
    margin-left:8rem; 
}
.Card{
    background-color: white;
    border-radius: 2rem;
    margin-left: 15rem;
    width:28rem;
    opacity: 0.8;
    margin-top: -5rem;
}
.Card:hover{
    animation-name: example1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.avar:hover{
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@media only screen and (max-width:700px){
    .avar{
        width:20rem
    }
}
@media only screen and (max-width:700px){
    .welcome{
        font-size: 1rem;
    };
}
@media only screen and (max-width:700px){
.name{
    font-size: 3rem;
}
}
@media only screen and (max-width:700px){
    .Card{
        width: 20rem;
    }
}